<!DOCTYPE html>
<html>
<head>
 <title>MozartAI</title>
  <%- include('./components/meta') %>
 <link rel="stylesheet" href="/css/neo.css">
</head>
<body class="rise">
 <header class="mart-navhead">
  <%- include('./components/navbar.ejs') -%>
 </header>
 <div class='mart-maincontain'>
  <img src="/img/music1.png" style="position: absolute;top:10vh;left:-5vmax;height:25vmax;" />
  <img src="/img/music2.png" style="position: absolute;top:50vh;right:-5vmax;height:20vmax;" />
  <img src='/img/logomoz.png' width='385' class="mart-mainpic mart-logofore"/>
  <h1 class='mart-maintxt mart-logofore'>The Future of Education</h1>
  <h2 class='mart-captiontxt mart-logofore'>At your fingertips</h2>
 </div>
 <h2 class='subheader'>What is Mozart?</h2>
 <span class='mart-paragraph'>Mozart is an AI-powered tutoring system designed to make assisting uses in learning material and mastering skills they want to learn easier than ever before.</span>
 <hr/>
 <h2 class='subheader'>Our Vision</h2>
 <span class='mart-paragraph'>Our vision is to make AI-powered tutoring free and accessible for people that need it all around the world. Advanced AI like this will revolutionize the power of tutoring to a higher scale of assistance and support that far surpasses any humane tutoring the world has ever seen.</span>
 <%- include('./components/footer.ejs') -%>
 <script src='/js/nav.js'></script>
</body>